extends layout

block content
    h2 #{title}
    ul.list-group
        each movie, i in movies
            li.list-group-item
                h4 #{movie.movie_title} 
                p Directed by: #{movie.director}